node_modules
.pytest_cache
__pycache__

# Model checkpoints — download separately; see README
models/*.pt
models/*.pkl

# Notebook checkpoints
.ipynb_checkpoints/

# Python virtual environement
.venv

# Data (to be cloned from other sources)
sn2

.env